<div class="container">
    <form>
        <div class="modal-header">						
            <h4 class="modal-title">Add Curso</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="curso.nombre" name="nombre" class="form-control" required>
            </div>				
        </div>
        <div class="modal-footer">
            <a routerLink="/cursos" class="btn btn-default" value="Cancel">Cancel</a>
            <a class="btn btn-success" value="Add" style="color:white" (click)="(edit === true) ? updateCurso() : guardarCurso()">Save</a>
        </div>
    </form>
</div>